@charset "UTF-8"

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(186, 216, 14);
}
h2 {
    color: rgb(214, 17, 17);
}
p {
    text-align: justify;
}
